In [6]:
import pandas as pd
from IPython.display import display, HTML

# Функція для відображення DataFrame з прокруткою
def display_scrollable_dataframe(df, max_height=300):
    display(HTML(f"""
        <div style="height:{max_height}px; overflow:auto; border:1px solid black;">
            {df.to_html(index=False)}
        </div>
    """))

raw_data = {
    'KATOTG_lvl5': ['Київ', 'Київ', 'Ірпінь', 'Львів', 'Харків', 'Одеса'],
    'KATOTG_lvl1': ['Київ', 'Київ', 'Київ', 'Львів', 'Харків', 'Одеса'],
    'p_lvl2': ['p1-1', 'p1-2', 'p1-2', 'p2-1', 'p2-2', 'p2-3'],
    'p_lvl1': ['p1', 'p1', 'p1', 'p2', 'p2', 'p2'],
    'v': [50, 50, 3, 34, 29, 25],
}

df = pd.DataFrame(raw_data)
df['_T'] = '_T'

print(df)

  KATOTG_lvl5 KATOTG_lvl1 p_lvl2 p_lvl1   v  _T
0        Київ        Київ   p1-1     p1  50  _T
1        Київ        Київ   p1-2     p1  50  _T
2      Ірпінь        Київ   p1-2     p1   3  _T
3       Львів       Львів   p2-1     p2  34  _T
4      Харків      Харків   p2-2     p2  29  _T
5       Одеса       Одеса   p2-3     p2  25  _T

In [7]:
KATOTG_lvl_list = ['KATOTG_lvl5','KATOTG_lvl1', '_T']
p_lvl_list = ['p_lvl1', 'p_lvl2', '_T']

grouped_column = ['KATOTG', 'Par']
all_column = grouped_column + ['OBS']
result_df = pd.DataFrame()

for column1 in KATOTG_lvl_list:
    for column2 in p_lvl_list:
        tmp_column = [column1, column2]
        tmp_df = df[tmp_column+['v']]
        tmp_df.columns = all_column
        grouped_df = tmp_df.groupby(grouped_column)['OBS'].sum().reset_index()
        result_df = pd.concat([result_df, grouped_df], ignore_index=True)

# Виклик функції для відображення DataFrame з прокруткою
display_scrollable_dataframe(result_df)

In [9]:
import pygwalker as pyg

walker = pyg.walk(
    result_df,                      # your dataset, support pandas、polars、modin、spark(not recommended)
    spec="./gw0.json",       # this json will save your chart state, you need to click save button in ui mannual when you finish a chart, 'autosave' will be supported in the future.
    use_kernel_calc=True,    # set `use_kernel_calc=True`, pygwalker will use duckdb as computing engine, it support you explore bigger dataset(<=100GB).
    # use_preview=True        # set `use_preview=True`, pygwalker will render preview charts when kernel stop.
)

Box(children=(HTML(value='<div id="ifr-pyg-00061a98382f892cB3bpQ0xrKd1qIOmS" style="height: auto">\n    <head>…